<nz-card class="product-card" nzHoverable style="width:240px">
  <div>
    <img
      alt="example"
      src="/assets/images/products/arena.jfif"
      class="product-card__img"
    />
  </div>
  <div class="product-card__meta">
    <p>Taladro Percutor 18V + Atornillador de impacto 18V</p>
    <div class="product-card__price">
      <span>$ 64.99</span>
      <span>C/U</span>
    </div>
  </div>
  <button
    nz-button
    nzType="primary"
    class="product-card__btn-add-cart"
  >Elegir</button>
</nz-card>
