<nz-card class="product-card" nzHoverable style="width:240px">
  <div>
    <img
      alt="example"
      src="{{ product?.image }}"
      class="product-card__img"
    />
  </div>
  <div class="product-card__meta">
    <p class="product-card__name">{{ product?.name || '-'}}</p>
    <div class="product-card__price">
      <span>{{ product?.price | currency}}</span>
      <span>C/U</span>
    </div>
  </div>
  <button
    nz-button
    nzType="primary"
    class="product-card__btn-add-cart"
    (click)="add(product)"
  >Elegir</button>
</nz-card>
