.mcs-header {
  display: flex;
  &__w-logo {
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
    & > a {
      color: #ffffff;
    }
  }
  &__w-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    & >a {
      color: #f4f4f4;
    }
  }

  &__cart-box {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    & > i{
      color: #ffffff;
      font-size: 1.5rem;
    }
  }
}


nz-badge {
  margin-right: 20px;
  margin-top: 20px;
  height: 100%;
}


