.cart-item {
  padding-top: 20px;
  &__img {
    max-height: 90px;
  }
  &__product-name {
    margin-bottom: 0;
  }
  &__btn-delete {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.text-right {
  text-align: right;
}

nz-divider {
  margin: 5px 0;
}
