<div class="cart-item" nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">
    <img
      alt="example"
      src="/assets/images/products/arena.jfif"
      class="cart-item__img"
    />
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="20">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
        <p class="cart-item__product-name">Taladro Percutor 18V+ Atornillador de Impacto 18V</p>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
        <nz-button-group>
          <button nz-button nzType="default">-</button>
          <input type="text" nz-input placeholder="0" />
          <button nz-button nzType="default">+</button>
        </nz-button-group>
        <div class="cart-item__btn-delete">Eliminar</div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8" class="text-right">
        <span>$ 64.99 </span>
        <span>C/U</span>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row>
      <div nz-col nzXs="16" nzSm="18" nzMd="18" nzLg="20" nzXl="20" class="text-right">
        Total Producto:
      </div>
      <div nz-col nzXs="8" nzSm="6" nzMd="6" nzLg="4" nzXl="4" class="text-right">
        $ 64.99
      </div>
    </div>
  </div>
</div>
