<div class="cart-item" nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="4">
    <img
      alt="example"
      src="{{ data.image }}"
      class="cart-item__img"
    />
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="20">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
        <p class="cart-item__product-name">{{ data?.name }}</p>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8">
        <app-amout-control
          [form]="form"
          [controlName]="'quantity'"
        ></app-amout-control>
        <div class="cart-item__btn-delete">Eliminar</div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="8" class="text-right">
        <span>$ {{ data?.price }} </span>
        <span>C/U</span>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-row>
      <div nz-col nzXs="16" nzSm="18" nzMd="18" nzLg="20" nzXl="20" class="text-right">
        Total Producto:
      </div>
      <div nz-col nzXs="8" nzSm="6" nzMd="6" nzLg="4" nzXl="4" class="text-right">
        $ {{ (data.quantity * this.data.price) | currency }}
      </div>
    </div>
  </div>
</div>
