<div class="cart-list mcs-container">
  <div nz-row>
    <div class="cart-list__left-column" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="18" nzXl="18">
      <div class="cart-list__head">
        <h2>Carrito de compras</h2>
      </div>
      <div class="cart-list__items">
        <ng-container *ngFor="let item of itemsCart">
          <app-cart-item
            [id]="item.id"
            [itemData]="item"
            [itemsCart]="itemsCart"
            (deleteItem)="deleteProduct($event)"
          ></app-cart-item>
          <nz-divider></nz-divider>
        </ng-container>
      </div>
    </div>
    <div class="cart_list__summary-purchase" nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <app-summary-purchase
        [total]="total"
        (onClick)="createOrder($event)"
      ></app-summary-purchase>
    </div>
  </div>
</div>
