<div class="cart-list mcs-container">
  <div nz-row>
    <div class="cart-list__left-column" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="18" nzXl="18">
      <div class="cart-list__head">
        <h2>Carrito de compras</h2>
      </div>
      <div class="cart-list__items">
        <app-cart-item></app-cart-item>
        <nz-divider></nz-divider>
        <app-cart-item></app-cart-item>
        <nz-divider></nz-divider>
        <app-cart-item></app-cart-item>
        <nz-divider></nz-divider>
      </div>
    </div>
    <div class="cart_list__summary-purchase" nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <app-summary-purchase
        [total]="total"
        (onClick)="createOrder()"
      ></app-summary-purchase>
    </div>
  </div>
</div>
